

{{> head }}    
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Iroman</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ex qui voluptas provident facere neque 
            fugit sapiente natus mollitia? Nihil quisquam quibusdam consectetur pariatur earum enim quidem fugiat, 
            deleniti neque!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/iroman.png" class="img-thumbnail" alt="">
    </div>
</div>
  
{{> footer }}